<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cooking Blog</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="posts.css">
    <link rel="stylesheet" href="editing-pages.css">
  </head>
  <body>

      <div class="nav">
        <h1>Welcome to The Cooking Blog!</h1>
        <ul class="navbar">
          <li class="nav-item">
            <div class="button">
            <a class="nav-link" href="/createPost">Add a recipe</a>
          </div> </li>
        </ul>
        </div>
      </form>
